
    body {
      background-color: #f8f9fa;
    }

    .login-container {
      max-width: 400px;
      margin: 100px auto;
      padding: 20px;
      border: 1px solid #ced4da;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-title {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .alert-danger{
        background-color: rgb(206, 8, 8);
        color:#fff;
    }
    

    .temp{
        height:70px;
    }
